<div style="left: 50%; width: 1300px; position: absolute; margin-left: -650px; ">

  <p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>

  <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

  <p-panel header="Despesa" [toggleable]="false">
    <div class="grid">
      <div class="col-fixed" style="width: 70px;">
        <input pInputText type="text" [style]="{'width':'50px'}" placeholder="id"
               (input)="dt.filter($event.target.value, 'id', 'contains')">
      </div>
      <div class="col-fixed" style="width: 250px;">
        <p-dropdown [options]="tiposDespesas"
                    optionLabel="nome"
                    [showClear]="true"
                    [filter]="true"
                    [style]="{'width':'100%'}"
                    filterBy="nome"
                    placeholder="Tipo"
                    scrollHeight="350px"
                    (onChange)="dt.filter($event.value, 'tipoDespesa', 'equals')">
        </p-dropdown>
      </div>
      <div class="col">
        <p-dropdown [options]="fornecedores"
                    [filter]="true"
                    [showClear]="true"
                    [style]="{'width':'100%'}"
                    filterBy="nome"
                    optionLabel="nome"
                    scrollHeight="350px"
                    placeholder="Fornecedor"
                    [filter]="true" filterBy="nome"
                    (onChange)="dt.filter($event.value, 'fornecedor', 'equals')">
        </p-dropdown>
      </div>
      <div class="col-fixed" style="width: 250px; text-align: center">
        <p-inputMask mask="99/99/9999"
                     placeholder="99/99/9999"
                     slotChar="dd/mm/yyyy"
                     #inicio
                     [style]="{'width':'95px'}"
                     (onComplete)="dt.filter(inicio.value, 'inicio', 'equals')">
        </p-inputMask>
        até
        <p-inputMask mask="99/99/9999"
                     placeholder="99/99/9999"
                     slotChar="dd/mm/yyyy"
                     #final
                     [style]="{'width':'95px'}"
                     (onComplete)="dt.filter(final.value, 'final', 'equals')">
        </p-inputMask>
      </div>
      <div class="col-fixed" style="width: 250px;">
        <p-dropdown [options]="formasPagamento"
                    [style]="{'width':'100%'}"
                    optionLabel="nome"
                    [showClear]="true"
                    [filter]="true" filterBy="nome"
                    placeholder="Forma Pagamento"
                    scrollHeight="350px"
                    (onChange)="dt.filter($event.value, 'formaPagamento', 'equals')">
        </p-dropdown>
      </div>
    </div>

    <p-table [value]="despesas"
             [columns]="cols"
             [loading]="loading"
             [lazy]="true"
             (onLazyLoad)="loadData($event)"
             [rowsPerPageOptions]="[10,15,20,25,30,40]"
             [alwaysShowPaginator]="true"
             [paginator]="true"
             [showCurrentPageReport]="true"
             [totalRecords]="totalElements"
             [rows]="pageSize"
             [sortOrder]="-1"
             sortField="data"
             currentPageReportTemplate="Mostrando {first} a {last} de {{totalElements}} despesas"
             dataKey="id" #dt
             selectionMode="single"
             styleClass="p-datatable-striped p-datatable-sm"
             [contextMenu]="cm"
             [(contextMenuSelection)]="despesaSelecionada">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field"
              [ngStyle]="{'width': col.width, 'text-align': 'center'}">
            {{col.header}}
            <p-sortIcon [field]="col.field" *ngIf="col.field && col.field != 'valor' "></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-despesa let-expanded="expanded" let-ri="rowIndex">
        <tr pTooltip="{{despesa.obs}}" tooltipPosition="top" [pContextMenuRow]="despesa">
          <td style="text-align: center;">{{despesa.id}}</td>
          <td>{{despesa.tipoDespesa.nome}}</td>
          <td>{{despesa.fornecedor.nome}}</td>
          <td style="color: steelblue; font-weight: bolder; text-align: center;">
            {{despesa.data | date: 'dd/MM/yyyy'}}
          </td>
          <td>{{despesa.formaPagamento.nome}}</td>
          <td style="text-align: right;">
            {{despesa.valor | currency : 'BRL'}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td [attr.colspan]="columns.length-1" style='text-align: right;'>Total:</td>
          <td style="text-align: right;">{{totalValor | number : '1.2-2' }}</td>
        </tr>
      </ng-template>
    </p-table>

  </p-panel>

</div>
<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog header="Detalhe Despesa" [(visible)]="detalharDespesa" [style]="{width: '50vw'}" [modal]="true">
  <div class="grid">
    <div class="col-3">Id: </div>
    <div class="col-9">{{despesaSelecionada?.id}}</div>
    <div class="col-3">Despesa: </div>
    <div class="col-9">{{despesaSelecionada?.tipoDespesa?.nome}}</div>
    <div class="col-3">Fornecedor: </div>
    <div class="col-9">{{despesaSelecionada?.fornecedor?.nome}}</div>
    <div class="col-3">Data: </div>
    <div class="col-9">{{despesaSelecionada?.data | datebr}}</div>
    <div class="col-3">Forma Pagamento: </div>
    <div class="col-9">{{despesaSelecionada?.formaPagamento?.nome}}</div>
    <div class="col-3">Valor: </div>
    <div class="col-9">{{despesaSelecionada?.valor | currency : 'BRL'}}</div>
  </div>
  <p-panel header="Infomação Extra" *ngIf="despesaSelecionada?.informacaoExtra" [style]="{'width': '50%'}">
    <div class="grid" *ngFor="let inf of despesaSelecionada?.informacaoExtra">
      <div class="col-4">{{inf.tipoInformacaoExtra.nome}}:</div>
      <div class="col-4">{{inf.numero}}</div>
    </div>
  </p-panel>
  <h3>Observação: {{despesaSelecionada?.obs}}</h3>
</p-dialog>
