<div style="left: 50%; width: 750px; position: absolute; margin-left: -375px; ">

  <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

  <p-panel header="Cadastro Despesa" [toggleable]="false"  [style]="{'width': '750px'}">

    <form [formGroup]="despesaform" (ngSubmit)="onSubmit(despesaform.value)">
      <div class="grid">
        <label class="col-fixed ajuste-col">Despesa</label>
        <div class="col">
          <p-dropdown [options]="tiposDespesa" optionLabel="nome"
                      [(ngModel)]="despesaCadastro.tipoDespesa" formControlName="comboTipoDespesa"
                      [filter]="true" scrollHeight="400px" [style]="{'width': '300px'}">
          </p-dropdown>
        </div>
      </div>

      <div class="grid">
        <label class="col-fixed ajuste-col">Fornecedor</label>
        <div class="col">
          <p-autoComplete [(ngModel)]="despesaCadastro.fornecedor"
                          [suggestions]="fornecedores"
                          formControlName="autoCompleteFornecedor"
                          (completeMethod)="filterFornecedor($event)"
                          field="nome"
                          [inputStyle]="{'width': '500px'}"
                          [forceSelection]="true"
                          scrollHeight="400px"
                          [style]="{'width': '600px'}"
                          [minLength]="1">
            <ng-template let-value pTemplate="selectedItem">
              <span>>{{value}}</span>
            </ng-template>
            <ng-template let-brand pTemplate="item">
              <span style="font-size:12px;">{{brand.nome}}</span>
              <span style="float: right;">{{brand.cidade.nome}}</span>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>

      <div class="grid">
        <label class="col-fixed ajuste-col">Data</label>
        <div class="col">
          <p-inputMask mask="99/99/9999" [(ngModel)]="despesaCadastro.data" formControlName="inputData">
          </p-inputMask>
          <p-message severity="error" text="Data obrigatória"
                     *ngIf="!despesaform.controls['inputData'].valid && despesaform.controls['inputData'].dirty">
          </p-message>
        </div>
      </div>

      <div class="grid">
        <label class="col-fixed ajuste-col">Pagamento</label>
        <div class="col">
          <p-dropdown [options]="formasPagamento" optionLabel="nome"
                      [(ngModel)]="despesaCadastro.formaPagamento" formControlName="comboFormaPagamento"
                      [filter]="true" scrollHeight="400px" [style]="{'width': '300px'}">
          </p-dropdown>
        </div>
      </div>

      <div class="grid">
        <label class="col-fixed ajuste-col">Valor</label>
        <div class="col">
          <input type="text" (keyup)="maskaraMoeda($event)" (onblur)="maskaraMoeda($event)" pInputText
                 [(ngModel)]="despesaCadastro.valor" formControlName="inputValor"/>
        </div>
      </div>

      <div class="grid">
        <label class="col-fixed ajuste-col">Obs</label>
        <div class="col">
            <textarea pInputTextarea style="width: 400px; height: 40px;" [(ngModel)]="despesaCadastro.obs"
                formControlName="inputObservacao">
            </textarea>
        </div>
      </div>
      <br/>

      <div class="grid">
        <div class="col-12">
          <p-fieldset legend="Informações Extra">
            <div class="grid">
              <div class="col-fixed">
                <input type="text" pInputText [(ngModel)]="informacaoExtra.numero" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="col-fixed">
                <p-dropdown [options]="tiposInformacaoExtra" optionLabel="nome"
                            [(ngModel)]="informacaoExtra.tipoInformacaoExtra" [ngModelOptions]="{standalone: true}"
                            [filter]="true" scrollHeight="400px" [style]="{'width': '200px','text-align':'left'}">
                </p-dropdown>
              </div>
              <div class="col-fixed">
                <p-button icon="pi pi-plus" [style]="{'margin-left':'.25em'}"
                          (onClick)="addInformacaoExtra($event)">
                </p-button>
              </div>
            </div>

            <div class="grid">
              <div class="col">
                <p-table [value]="despesaCadastro.informacaoExtra">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Número</th>
                      <th>Tipo</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-info>
                    <tr>
                      <td>{{info.numero}}</td>
                      <td>{{info.tipoInformacaoExtra.nome}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>

      <div class="grid">
        <div class="col">
          <button icon="pi pi-save" pButton type="button" label="Salvar"
                  class="ui-button-raised ui-button-success"
                  [disabled]="!despesaform.valid" type="submit">
          </button>
        </div>
      </div>

    </form>
  </p-panel>

  <p-message severity="success"
             text=" {{total | currency:'BRL':true:'1.2-2'}}">
  </p-message>


</div>
