<!--<p-menubar [model]="items"></p-menubar>-->

<!--<router-outlet></router-outlet>-->
<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span> <i class="pi pi-home"></i> Home </span>
    </ng-template>
    <app-dashboard></app-dashboard>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <span> <i class="pi pi-dollar"></i> Despesa </span>
    </ng-template>
    <app-despesa></app-despesa>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <span> <i class="pi pi-credit-card"></i> Contas </span>
    </ng-template>
    <app-conta></app-conta>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <span> <i class="pi pi-box"></i> Forncedor </span>
    </ng-template>
    <app-fornecedor></app-fornecedor>
  </p-tabPanel>
</p-tabView>
